# Visual Studio
.sln
.vs
.pyproj

# Node dependencies
node_modules/

# TypeScript build output
.build/

# Python
*.pyc
__pycache__

# Firebase Keys
cmc-calendar-297516-firebase-adminsdk-mwugq-e33b3b9a7a.json

# Log files
*.log