# Visual Studio
.sln
.vs
.pyproj

# Node dependencies
node_modules/

# TypeScript build output
.build/

# Python
*.pyc
__pycache__

# generated only during deployment testing
requirements.txt
microservices/*/package*.json

# Firebase Keys
*firebase-adminsdk*.json

# Log files
*.log
