imports:
  - path: ../../../../infrastructure/templates/artifacts-bucket.jinja
    name: artifacts-bucket
  - path: ../../../../infrastructure/templates/deploy-trigger.jinja
    name: deploy-trigger

resources:
  - name: artifacts-bucket
    type: artifacts-bucket
    properties:
      name: calendar-artifacts
  - name: deploy-trigger
    type: deploy-trigger
    properties:
      microservice: calendar
      language: python
      artifactsBucket: $(ref.artifacts-bucket.bucketName)
