imports:
  - path: ./ingest.jinja
    name: ingest-function
  - path: ./scheduler.jinja
    name: ingest-scheduler

resources:
  - name: ingest-function
    type: ingest-function
    properties:
      region: us-central1
      artifactsBucket: {{ properties['artifactsBucket'] }}
  - name: ingest-scheduler
    type: ingest-scheduler
    properties:
      region: us-central1
