resources:
  - name: ingest-function
    type: functions/ingest.jinja
    properties:
      region: us-central1
      artifactsBucket: {{ properties['artifactsBucket'] }}
  - name: ingest-scheduler
    type: scheduler.jinja
    properties:
      region: us-central1
