resources:
  - name: events-ingest-function
    type: gcp-types/cloudfunctions-v1:projects.locations.functions
    properties:
      parent: projects/{{ env['project'] }}/locations/{{ properties['region'] }}
      function: events-ingest
      sourceArchiveUrl: gs://{{ properties['artifactsBucket'] }}/events.zip
      entryPoint: ingest
      runtime: python38
      eventTrigger:
        resource: $(ref.events-ingest-topic.name)
        eventType: providers/cloud.pubsub/eventTypes/topic.publish
  - type: gcp-types/pubsub-v1:projects.topics
    name: events-ingest-topic
    properties:
      topic: events-ingest
