resources:
  - name: {{ properties['microservice'] }}-deploy-trigger
    type: https://raw.githubusercontent.com/GoogleCloudPlatform/cloud-foundation-toolkit/master/dm/templates/cloudbuild/trigger.py
    properties:
      description: Trigger CloudBuild to deploy {{ properties['microservice'] }} infrastructure when changes are pushed to master
      triggerTemplate:
        repoName: {{ properties['repoName'] }}
        branchName: master
      includedFiles: microservices/{{ properties['microservice'] }}/**
      filename: infrastructure/cloudbuild/deploy/{{ properties['language'] }}.yml
      substitutions:
        _MICROSERVICE: {{ properties['microservice'] }}
        _ARTIFACTS_BUCKET: {{ properties['artifactsBucket'] }}
